<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pet">
            <h2><span>Pet</span> {{pet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{pet.name}}</span>
                </dd>
                <dt><span>Client Id</span></dt>
                <dd>
                    <span>{{pet.clientId}}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{pet.age}}</span>
                </dd>
                <dt><span>Species</span></dt>
                <dd>
                    <span>{{pet.species}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="pet.client">
                        <a [routerLink]="['/client', pet.client?.id, 'view']">{{pet.client?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pet', pet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
