<div>
    <h2 id="page-heading">
        <span>System Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-user" [routerLink]="['/system-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new System User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="systemUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Login</span></th>
            <th><span>Logo</span></th>
            <th><span>Password</span></th>
            <th><span>Deleted</span></th>
            <th><span>Doctor</span></th>
            <th><span>Doctor</span></th>
            <th><span>Doctor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let systemUser of systemUsers ;trackBy: trackId">
                <td><a [routerLink]="['/system-user', systemUser.id, 'view' ]">{{systemUser.id}}</a></td>
                <td>{{systemUser.login}}</td>
                <td>{{systemUser.logo}}</td>
                <td>{{systemUser.password}}</td>
                <td>{{systemUser.deleted}}</td>
                <td>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['../doctor', systemUser.doctor?.id, 'view' ]" >{{systemUser.doctor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['../client', systemUser.doctor?.id, 'view' ]" >{{systemUser.doctor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['../admin', systemUser.doctor?.id, 'view' ]" >{{systemUser.doctor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/system-user', systemUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/system-user', systemUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'system-user', { outlets: { popup: systemUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
