<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemUser">
            <h2><span>System User</span> {{systemUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{systemUser.login}}</span>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <span>{{systemUser.logo}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{systemUser.password}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{systemUser.deleted}}</span>
                </dd>
                <dt><span>Doctor</span></dt>
                <dd>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['/doctor', systemUser.doctor?.id, 'view']">{{systemUser.doctor?.id}}</a>
                    </div>
                </dd>
                <dt><span>Doctor</span></dt>
                <dd>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['/client', systemUser.doctor?.id, 'view']">{{systemUser.doctor?.id}}</a>
                    </div>
                </dd>
                <dt><span>Doctor</span></dt>
                <dd>
                    <div *ngIf="systemUser.doctor">
                        <a [routerLink]="['/admin', systemUser.doctor?.id, 'view']">{{systemUser.doctor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-user', systemUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
